// Material Buttons
.material-btn{
    background: rgab(0, 0, 0, 0);
    border: none;
    border-radius: 2px;
    box-shadow: $z-shadow-1;
    color: $font-color;
    position: relative;
    height: 36px;
    margin: 0px 8px;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    transition: box-shadow 500ms $transition-style, 
                background-color 500ms $transition-style, 
                color 500ms $transition-style,
                opacity 500ms $transition-style, 
                visibility 500ms $transition-style, 
                transform 500ms $transition-style;
    will-change: box-shadow, background-color, color, opacity, visibility, transform;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    &:hover{
      background: rgab(0, 0, 0, .3);
      box-shadow: $z-shadow-3;
    }
}
.material-btn--video{
  height: 86px;
  width: 86px;
  font-size: 38px;
  background: $color-secondary;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%; 
  box-shadow: $z-shadow-2;
  z-index: 2;
  span{
    transition: opacity 500ms $transition-style, visibility 500ms $transition-style;
    will-change: opacity, visibility;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}